/* Style du corps de la page avec un fond bleu */
body {
  background-color: #74bae9; /* Bleu clair, vous pouvez ajuster la couleur selon vos préférences */
  color: #fff; /* Texte en blanc pour contraster avec le fond bleu */
}
head {
  color: #4696e6
}

a:hover {
  text-decoration: underline; /* Soulignement lorsqu'on survole les liens */
}

/* Style du contenu textuel */
p {
  line-height: 1.5; /* Espacement entre les lignes pour une meilleure lisibilité */
}  